* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	color: #dfdfdf;
	text-decoration: none;
	font-weight: normal;
}
html {
	background-color: #000000;
	width: 100%;
	height: 100%;
}
#menu_div {
	background-color: #1f1f1f;
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 256px;
}
#content_div {
	background-color: #0f0f0f;
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	left: 256px;
	right: 0px;
	min-width: 512px;
}
.action_button {
	display: block;
	cursor: pointer;
	background-color: #0f0f0f;
	border-top: solid 4px #1f1f1f;
	font-size: 16px;
	font-weight: bold;
	height: 16px;
	padding: 8px;
}
.action_button:first-child {
	border-top: 0px;
}
.action_button:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
#title {
	font-weight: bold;
	padding: 4px;
	text-align: center;
	background-color: #000000;
	overflow: hidden;
}

.header {
	font-weight: bold;
	padding: 4px;
}

#v_text p {
	white-space: pre-wrap;
	padding: 4px;
}

#v_todo {
	background-color: #2f2f2f;
	text-align: center;
}
#v_todo div {
	display:inline-block;
	text-align: left;
}
#v_todo p {
	white-space: pre-wrap;
}

.line {
	width: 400px;
	padding: 2px;
}
.line:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
.title_menu {
	margin: 0px;
	display: block;
	overflow: hidden;
	text-align: center;
	position: relative;
	white-space: nowrap;
}
.title_menu p {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 2px;
}
.title_menu div {
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	position: absolute;
	display: inline-block;
	top: 0px;
	bottom: 0px;
	width: 50%;
}
.title_menu div:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
.left {
	left: 0px;
}
.right {
	right: 0px;
}

.container {
	font-size: 0px;
}
.piece {
	display: inline-block;
	font-size: 16px;
	width: 400px;
	background-color: #000000;
	margin-right: 4px;
	margin-bottom: 4px;
}
.box {
	height: 400px;
	width: 400px;
}

.image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
audio {
	width: 100%;
}
input {
	display: block;
	overflow: hidden;
	border: 0px;
	background: #000000;
	outline: none;
	width: 100%;
	height: 24px;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 4px;
}
textarea {
	display: block;
	border: 0px;
	background: #000000;
	outline: none;
	width: 100%;
	height: 180px;
	resize: none;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 4px;
}
.no_wrap {
	white-space: pre;
	overflow: auto;
}
.do_wrap {
	white-space: pre-wrap;
	overflow-y: auto;
	overflow-x: hidden;
}
.editor_button {
	cursor: pointer;
	background-color: #000000;
	margin-top: 4px;
	padding: 4px;
}
.editor_button:hover {
	color: #ffffff;
	background-color: #7f00ff;
}