* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	
	text-decoration: none;
	font-weight: normal;
}
html {
	color: #dfdfdf;
	background-color: #0f0f0f;
	min-width: 768px;
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
}
#sidebar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 512px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#list {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 512px;
	overflow-x: hidden;
	overflow-y: auto;
}
#list div {
	cursor: pointer;
	background-color: #1f1f1f;
	height: 24px;
	width: 100%;
	margin-bottom: 4px;
}
#list div:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
.action_button {
	display: block;
	cursor: pointer;
	background-color: #1f1f1f;
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
	height: 16px;
	padding: 8px
}
.action_button:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
input {
	color: #dfdfdf;
	display: block;
	background-color: #000000;
	overflow: hidden;
	border: 0px;
	outline: none;
	margin-bottom: 4px;
	height: 24px;
	width: 100%;
}
textarea {
	display: block;
	border: 0px;
	background: #000000;
	outline: none;
	width: 100%;
	height: 180px;
	resize: none;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 4px;
	white-space: pre-wrap;
	overflow-y: auto;
	overflow-x: hidden;
}
h1 {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}
p {
	white-space: pre-wrap;
}