* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	
	text-decoration: none;
	font-weight: normal;
}
html {
	color: #dfdfdf;
	background-color: #0f0f0f;
}
body {
	width: 768px;
	margin: auto;
}
.action_button {
	display: block;
	cursor: pointer;
	background-color: #0f0f0f;
	border-top: solid 4px #1f1f1f;
	font-size: 16px;
	font-weight: bold;
	height: 16px;
	padding: 8px;
}
.action_button:first-child {
	border-top: 0px;
}
.action_button:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
input {
	color: #dfdfdf;
	display: block;
	background-color: #000000;
	overflow: hidden;
	border: 0px;
	outline: none;
	margin-bottom: 4px;
	height: 24px;
	width: 100%;
}

.tag_bar {
	cursor: pointer;
	background-color: #1f1f1f;
	overflow: hidden;
	margin-bottom: 4px;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.button {
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
	background-color: #1f1f1f;
	overflow: hidden;
	margin-bottom: 4px;
	height: 22px;
}
.purple:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
.blue:hover {
	color: #ffffff;
	background-color: #3f3fff;
}
.green:hover {
	color: #ffffff;
	background-color: #00af0f;
}

/* view port */
#results h1 {
	display: block;
	margin-bottom: 4px;
}
#results h2 {
	display: block;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}