* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	color: #dfdfdf;
	text-decoration: none;
	font-weight: normal;
}
html {
	background-color: #000000;
	width: 100%;
	height: 100%;
}
#menu_div {
	background-color: #1f1f1f;
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 256px;
}
#content_div {
	background-color: #0f0f0f;
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	left: 256px;
	right: 0px;
	min-width: 512px;
}
.action_button {
	display: block;
	cursor: pointer;
	background-color: #0f0f0f;
	border-top: solid 4px #1f1f1f;
	font-size: 16px;
	font-weight: bold;
	height: 16px;
	padding: 8px;
}
.action_button:first-child {
	border-top: 0px;
}
.action_button:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
.selector_separator {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 4px;
	padding: 4px;
	display: block;
}
.idea_block {
	display: block;
	cursor: pointer;
	background-color: #1f1f1f;
	padding: 4px;
	margin-bottom: 4px;
}
.idea_block:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
#pages {
	text-align: center;
}
#wrapper {
	display: inline-block;
	font-size: 0px;
}
#wrapper a {
	font-size: 16px;
	display: inline-block;
	cursor: pointer;
	background-color: #1f1f1f;
	padding: 4px;
	margin-left: 4px;
}
#wrapper a:first-child {
	margin-left: 0px;
}
#wrapper a:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
#wrapper a:first-child {
	margin-left: 0px;
}
#wrapper a:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
#wrapper #cur_page {
	background-color: #2f2f2f;
}
#wrapper #cur_page:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
#wrapper p {
	font-size: 16px;
	display: inline-block;
	padding: 4px;
	margin-left: 4px;
}
