* {
	font-family: sans-serif;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}
body {
	display: inline-block;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
html {
	background-color: #000000;
	text-align: center;
}
h1 {
	color: #ffffff;
	font-size: 128px;
}
a {
	display: block;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
}
a:hover {
	color: #7f3fff;
}