* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	
	text-decoration: none;
	font-weight: normal;
}
html {
	color: #dfdfdf;
	background-color: #0f0f0f;
	min-width: 768px;
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
}
#info {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 512px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 512px;
	overflow-x: hidden;
	overflow-y: auto;
}
#container video {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
#container audio {
	display: block;
	width: 100%;
}
#container img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
#container div {
	height: 24px;
	width: 100%;
	background-color: #1f1f1f;
	overflow: hidden;
	white-space: nowrap;
}
.action_button {
	display: block;
	cursor: pointer;
	background-color: #1f1f1f;
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
	height: 16px;
	padding: 8px
}
.action_button:hover {
	color: #ffffff;
	background-color: #7f00ff;
}
input {
	color: #dfdfdf;
	display: block;
	background-color: #000000;
	overflow: hidden;
	border: 0px;
	outline: none;
	margin-bottom: 4px;
	height: 24px;
	width: 100%;
}
textarea {
	display: block;
	border: 0px;
	background: #000000;
	outline: none;
	width: 100%;
	height: 180px;
	resize: none;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 4px;
	white-space: pre-wrap;
	overflow-y: auto;
	overflow-x: hidden;
}
h1 {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

.tags_collection {
	height: 240px;
	overflow-y: scroll;
}
.tag_bar {
	cursor: pointer;
	position: relative;
	height: 24px;
	margin-bottom: 4px;
	background-color: #1f1f1f;
	overflow: hidden;
}
.tag_bar p {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.tag_bar .select {
	display: inline-block;
	text-align:center;
	position: absolute;
	top: 0px;
	bottom: 0px;
	padding-top: 4px;
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
}
.left {
	width: 50%;
	left: 0px;
}
.right {
	width: 50%;
	right: 0px;
}
.center {
	left: 0px;
	right: 0px;
}
.blue:hover {
	color: #ffffff;
	background-color: #3f3fff;
}
.green:hover {
	color: #ffffff;
	background-color: #00af0f;
}